@charset "UTF-8";
* { 
	margin: 0; 
	padding: 0;
}
.my-container {
    color: #FFFFFF;
    text-align: center;
    background-color: #000000;
    padding: 20px;
    margin: 20px;
}
.my-class {
    color: #000000;
    text-align: center;
    background-color: #000000;
    text-shadow: 2px 2px;
    background-image: url(../images/kebabstore.jpg);
    background-position: 111px 31%;
    border-bottom: medium inset #000000;
}
.my-footer {
 	color: #FFFFFF;
    text-align:right;
    background-color: #000000;}
#my-id {
    color: #FFF400;
}
.id {
}
.my-image {
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding: 20px;
}
.body {
    background-image: url(../images/kebab.jpg);
	font-family: 'Reggae One', cursive;
}
