@charset "UTF-8";
* { 
	margin: 0; 
	padding: 0;
}
.my-container {
    color: #FFFFFF;
    text-align: center;
    background-color: #000000;
    
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.my-class {
    color: #FFFFFF;
    text-align: center;
    background-color: #000000;
    text-shadow: 2px 2px;
}
#my-id {
    color: #FFF400;
}
.id {
}
.my-image {
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding: 20px;
}
.body {
    background-image: url(../images/kebab.jpg);
	font-family: 'Reggae One', cursive;
}
